<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<meta name="google-signin-client_id" content ="">-->
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <title>Login</title>
    
</head>
<body>
    <h1>Login</h1>
    <div id="g_id_onload"
         data-client_id="371491435839-r1ma4need2oitq9p2r7poavhspalc5dv.apps.googleusercontent.com"
         data-ux_mode ="redirect"
         data-auto_prompt = False
         data-login_uri="/login"
         >
         
    </div>
    <div class="g_id_signin" data-type="standard"></div>

    <!--<a href="#" onclick="signOut();">Sign out</a>-->

    <!--
    <script>
        function signOut() {
            var auth2 = gapi.auth2.getAuthInstance();
            auth2.signOut().then(function () {
            console.log('User signed out.');
            });
            }
    </script>-->


</body>
</html>