<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <script src="https://accounts.google.com/gsi/client" async defer></script>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registrate en Funko Pop </title>
</head>
<body>
    <h1>Únete a Funko Pop hoy mismo</h1>
    Registrarse con google
    <a href="/auth/google">
        <img src="https://developers.google.com/identity/images/btn_google_signin_dark_normal_web.png" alt="Sign in with Google">
    </a>
    <p>O</p>
    <a href ="/crearCuenta">
        <button type="submit"> Crear Cuenta </button>
    </a>
  </form>
  <p>¿Ya tienes una cuenta?</p>
  <a href="/login">
      <p>Iniciar sesión</p>
  </a>
</body>
</html>
